<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv="cache-control" content="no-cache" />
{% if page.description %}
    <meta name="description" content="{{ page.description }}"/>
{% else %}
    <meta name="description" content="Epic - {{ page.title }}"/>
{% endif %}

  <title>Epic - dominant domains</title>
  
    <meta property="og:site_name" content="Epic - dominant domains"/>
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:url" content="http://epic.tesio.it{{ page.url }}"/>
    <meta property="og:type" content="article"/>
{% if page.image %}
    <meta property="og:image" content="{{ page.image }}"/>
{% endif %}
{% if page.video %}
    <meta property="og:video" content="{{ page.video }}"/>
{% endif %}

  <link rel="icon" href="/favicon.ico" />
  <link rel="alternate" type="application/atom+xml" title="Development log"  href="/atom.xml" />
  <link rel="stylesheet" type="text/css" href="/layout.css" />
  <link rel="stylesheet" type="text/css" href="/screen.css" />
  <link rel="stylesheet" type="text/css" href="/doc/manual/css/shCore.css" />
  <link rel="stylesheet" type="text/css" href="/doc/manual/css/shCoreDefault.css" />
  <link rel="stylesheet" type="text/css" href="/doc/manual/css/shThemeDefault.css" />
  
  <!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
  <![endif]-->
  <!--[if lt IE 8]>
	<style type="text/css">
		#header {padding-top: 9px}
	</style>
  <![endif]-->
  <!--[if IE 8]>
	<style type="text/css">
		#wrap {width:100%}
	</style>
  <![endif]-->
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23846269-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
</head>
<body>
  <div id="wrap">
    <div id="header">
      <a href="https://github.com/bards/Epic.NET"><img style="position: absolute; top: 0; left: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png" alt="Fork me on GitHub" /></a>
      <a class="title" href="/">Epic</a>
      <span>dominant domains</span>
    </div>
    <div id="main">
      <div id="content">
        <ul class="menu">
          <li><a href="/index.html">Overview</a></li>
          <li><a href="/roadmap.html">Roadmap</a></li>
          <li><a href="/blog.html" title="Development blog">Blog</a></li>
          <li><a href="/doc/index.html">Documentation</a></li>
          <li><a href="https://github.com/bards/Epic.NET/archives/master">Download</a></li>
          <li><a href="/license.html">License</a></li>
          <li><a href="/credits.html" title="The Epic bards">Bards</a></li>
          <li style="padding-left: 12px;"><iframe src="http://www.ohloh.net/p/486199/widgets/project_users_logo.html" scrolling="no" style="height: 40px; width: 140px; border: none;" frameBorder="0"></iframe></li>
        </ul>

        <h1>{{ page.title }}</h1>

{% if page.author %}
    {% assign author = site.authors[page.author] %}
{% else %}
    {% assign author = site.authors.giacomo %}
{% endif %}
  <span style="color: #8F8F8F; padding-top:3px; padding-bottom:10px;font-size:13px">{{ page.date | date_to_string }} &raquo; {{ author.name }}</span>

{{ content }}

<div style="padding:10px; min-height: 20px"></div>

<script src="/doc/script/shCore.js" type="text/javascript"></script>
<script src="/doc/script/shBrushCSharp.js" type="text/javascript"></script>

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'epic-net'; // required: replace example with your forum shortname

    // The following are highly recommended additional parameters. Remove the slashes in front to use.
    var disqus_identifier = '{{ page.url }}';
    var disqus_url = 'http://epic.tesio.it{{ page.url }}';
    var disqus_title = "{{ page.title }}";
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

     </div>

    </div>
  </div>

  <div id="footer">
    <div class="copyright">Copyright &copy; 2010-2013 Giacomo Tesio</div>
  </div>
</body>
</html>
